<mat-toolbar class="toolbar">
  <ng-container *ngIf="(arbitro$ | async) as arbitroSeleccionado">
  <span class="toolbarText">Arbitro: {{arbitroSeleccionado.nombre}} ({{arbitroSeleccionado.alias}})</span>
    <span class="spacer"></span>
    <button mat-icon-button class="mat-icons-outlined" matTooltip="Eliminar jugador" aria-label="Eliminar jugador"
      (click)="eliminarArbitro(arbitroSeleccionado.id)">
      <mat-icon>event</mat-icon>
    </button>
  </ng-container>
    <span>|</span>
    <button mat-icon-button class="mat-icons-outlined" matTooltip="Estadísticas" aria-label="Estadísticas">
      <mat-icon>equalizer_white</mat-icon>
    </button>
    <button mat-icon-button class="mat-icons-outlined" matTooltip="Premiados" aria-label="Premiados">
      <mat-icon>emoji_events</mat-icon>
    </button>
  </mat-toolbar>