<mat-card>
  <mat-card-header>
      <mat-card-title>{{pareja?.nombre}}</mat-card-title>
  </mat-card-header>
 <table>
      <!-- <caption>Statement Summary</caption> -->
      <thead>
        <tr>
          <th scope="col">Jugador 1</th>
          <th scope="col">Jugador 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td >{{jugador1?.nombre}}</td>
          <td >{{jugador2?.nombre}}</td>
        </tr>
        <tr class="filaFoto">
          <td ><img src={{fotoJugador1}}></td>
          <td ><img src={{fotoJugador2}}></td>
        </tr>
      </tbody>
    </table>
</mat-card>
