<app-cargando></app-cargando>
 <mat-toolbar class="sombra toolbar">Ronda:
  <mat-select placeholder="Seleccione una ronda" [(value)]="ronda_select"  (selectionChange)="changeRonda($event)">
      <mat-option *ngFor="let ronda of rondas" [value]="ronda.id" >{{ronda.comentario}}</mat-option>
  </mat-select>

  <span class="spacer"></span>
  Ronda: {{ronda_select}}
  <span class="spacer"></span>
  <ng-container *ngIf="(rondaActiva$ | async) as rondaActiva">
    <div class="titulo">
      Duración: {{ duracionRonda(rondaActiva.duracion) }}  <span class="spacer"></span>
    </div>
   <span class="spacer"></span>
    <button *ngIf="rondaActiva.estado=='C'"  mat-icon-button class="mat-icons-outlined" (click)="iniciarRonda()" matTooltip="Iniciar ronda" >
    <mat-icon>alarm_add_white</mat-icon>
    </button>

    <button *ngIf="rondaActiva.estado=='F'" mat-icon-button class="mat-icons-outlined" (click)="verResultados()"
    matTooltip="Mostrar resultados" >
    <mat-icon>equalizer_white</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
