<div class="boleta">
<div class="mesa">
  <div class="celda-vacia"></div>
  <div class="celda-jugador">
      <img src={{foto(0)}} alt="" class="foto-jugador">
      <div class="datos-jugador">{{jugador![0].alias}}</div>
      <div class="datos-pareja">Pareja 1</div>
  </div>
  <div class="celda-vacia"></div>
  <div class="celda-jugador">
      <img src={{foto(2)}} alt="" class="foto-jugador">
      <div class="datos-jugador">{{jugador![2].alias}}</div>
      <div class="datos-pareja">Pareja 2</div>
  </div>
  <div class="celda-mesa">mesa: {{boleta?.mesa?.numero}}</div>

  <div class="celda-jugador">
      <img src={{foto(1)}} alt="" class="foto-jugador">
      <div class="datos-jugador">{{jugador![1].alias}}</div>
      <div class="datos-pareja">Pareja 2</div>
  </div>
  <div class="celda-vacia"></div>
  <div class="celda-jugador">
      <img src={{foto(3)}} alt="" class="foto-jugador">
      <div class="datos-jugador">{{jugador![3].alias}}</div>
      <div class="datos-pareja">Pareja 1</div>
  </div>
  <div class="celda-vacia"></div>
</div>
<div class="datos_boleta">
   
  <table>
    <!-- <caption>Statement Summary</caption> -->
    <thead>
      <tr>
        <th scope="col">Datos</th>
        <th scope="col">Pareja1</th>
        <th scope="col">Pareja2</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Datos">Datas</td>
        <td data-label="Pareja1">3</td>
        <td data-label="Pareja2">4</td>
        <td data-label="Total">7</td>
      </tr>
      <tr>
        <td data-label="Datos">Puntos</td>
        <td data-label="Pareja1">155</td>
        <td data-label="Pareja2">189</td>
        <td data-label="Total">344</td>
      </tr>
      <tr>
        <td data-label="Datos">Tiempo</td>
        <td data-label="Pareja1">7</td>
        <td data-label="Pareja2">9</td>
        <td data-label="Total">16</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
