.mesa{
  width: 350px;
  height: 350px;
  border: 1px solid darkgray;
  box-shadow: 3px 3px 3px darkgray;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  margin: 10px;
}



.celda-vacia{
  background: none;
}

.celda-jugador{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid darkgray ;
  border-radius: 50%;
  position: relative;
}

.foto-jugador{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.datos-jugador{
  text-align: center;
  font-size: xx-small;
  position: absolute;
  top: 5px;
}




.celda-mesa{
  background-color: darkgray;
  border: darkgray 1px solid;
  box-shadow: 3px 3px 3px darkgray;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
