.boleta{
  width: 370px;
  height: 580px;
  border: 1px solid darkgrey;
  box-shadow: 3px 3px 3px darkgray;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;
  margin: 10px;

}

.mesa{
  width: 350px;
  height: 380px;
  /* border: 1px solid darkgray; */
  /* box-shadow: 3px 3px 3px darkgray; */
  /* border-radius: 10px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  margin: 10px;
}


.datos_boleta {
	width: 100%;
	box-shadow: 3px 3px 3px darkgray;
	margin: auto;
	text-align: center;
	padding: 0;
	margin: 0;
}



.celda-vacia{
  background: none;
}

.celda-jugador{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.foto-jugador{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.datos-jugador{
  text-align: center;
  font-size: x-small;
  font-weight: bold;
  position: absolute;
  top: 0px;
}

.datos-pareja{
  text-align: center;
  font-size: x-small;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
}

.celda-mesa{
  /* background-color: darkgray; */
  /* background-image: url("/assets/mesa_cuba.jpg"); */
  /* border: darkgray 1px solid; */
  /* box-shadow: 3px 3px 3px darkgray; */
  /* border-radius: 10%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-mesa{
  width: 160px;
  /* height: 140px; */
  /* border-radius: 5%; */
}


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
