<div class="boleta">
<div class="mesa">
  <div class="celda-vacia"></div>
  <div class="celda-jugador">
      <img src={{foto(0)}} alt="" class="foto-jugador">
      <div class="datos-jugador">{{jugador![0].alias}}</div>
      <div class="datos-pareja">Pareja 1</div>
  </div>
  <div class="celda-vacia"></div>
  <div class="celda-jugador">
      <img src={{foto(2)}} alt="" class="foto-jugador">
      <div class="datos-jugador">{{jugador![2].alias}}</div>
      <div class="datos-pareja">Pareja 2</div>
  </div>
  <div class="celda-mesa">mesa: {{boleta?.mesa?.numero}}</div>

  <div class="celda-jugador">
      <img src={{foto(1)}} alt="" class="foto-jugador">
      <div class="datos-jugador">{{jugador![1].alias}}</div>
      <div class="datos-pareja">Pareja 2</div>
  </div>
  <div class="celda-vacia"></div>
  <div class="celda-jugador">
      <img src={{foto(3)}} alt="" class="foto-jugador">
      <div class="datos-jugador">{{jugador![3].alias}}</div>
      <div class="datos-pareja">Pareja 1</div>
  </div>
  <div class="celda-vacia"></div>
</div>
<div class="datos_boleta">
    

</div>
</div>
