<div class="mesa">
  <div class="celda-vacia"></div>
  <div class="celda-jugador">
      <img src="./assets/ggdd.jpg" alt="" class="jugador">
  </div>
  <div class="celda-vacia"></div>
  <div class="celda-jugador">
      <img src="./assets/ggdd.jpg" alt="" class="jugador">
  </div>
  <div class="celda-mesa">mesa {{boleta?.mesa_id}}</div>
  <div class="celda-jugador">
      <img src="./assets/ggdd.jpg" alt="" class="jugador">
  </div>
  <div class="celda-vacia"></div>
  <div class="celda-jugador">
      <img src="./assets/ggdd.jpg" alt="" class="jugador">
  </div>
  <div class="celda-vacia"></div>
</div>
