/* .grid{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-auto-rows: auto;
  gap: 1em;
} */

.grid{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  margin: auto;
  text-align: center;



}
