<app-evento-details-toolbar></app-evento-details-toolbar>
<app-ronda-toolbar></app-ronda-toolbar>
<ng-container *ngIf="rondaActiva$ | async as rondaActiva">
  <div class="titulo">
    Ronda: {{ rondaActiva.numero }} <span class="spacer"></span>
    Estado: {{ rondaActiva.estado }} <span class="spacer"></span>
    Duración: {{ duracionRonda(rondaActiva.duracion) }}  <span class="spacer"></span>
  </div>
</ng-container>
<div class="grid">
  <app-boleta [boleta]="boleta" *ngFor="let boleta of (boletas$ | async)"></app-boleta>
</div>
