.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.titulo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;

  margin-left: 1em;
  font-size: x-large;
}

.spacer {
  flex: 1 1 auto;
  padding-right: 2em;
}


