<app-jugador-toolbar [isLista]="0"></app-jugador-toolbar>
<!-- cdkDropList cdkDropListOrientation="horizontal"  cdkDropListLockAxis="x" matSort (cdkDropListDropped)="drop($event)" -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="comentario">
    <th mat-header-cell *matHeaderCellDef>Comentario</th>
    <td mat-cell *matCellDef="let element">{{ element.comentario }}</td>
  </ng-container>

  <ng-container matColumnDef="nro_identidad">
    <th mat-header-cell *matHeaderCellDef>Nro. Identidad</th>
    <td mat-cell *matCellDef="let element">{{ element.nro_identidad }}</td>
  </ng-container>

  <ng-container matColumnDef="alias">
    <th mat-header-cell *matHeaderCellDef>Alias</th>
    <td mat-cell *matCellDef="let element">{{ element.alias }}</td>
  </ng-container>

  <ng-container matColumnDef="fecha_nacimiento">
    <th mat-header-cell *matHeaderCellDef>Fecha nacimiento</th>
    <td mat-cell *matCellDef="let element">{{ element.fecha_nacimiento }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- (click)="clickedRows.add(row)"  -->
  <tr
    mat-row
    (click)="seleccionarJugador(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
