mat-card{
    width: 250px;
    height: 400px;
    margin: 10px;
    border: 3px darkgrey  solid ;
    text-align: center;
    border-radius: 5%;
    margin-top: 1em;
    min-height: 25rem;
  }

mat-card img {
    width: 50%;
    margin: auto;
    border: 1px ;
    border-radius: 50%;
  }

  mat-form-field{
    display: block;
  }

  mat-card button {
    width: 50%;
    margin: auto;
    margin-top: 1em;
    border: 1px ;
    height: 50px;
    display: block;
  }


