mat-card{
  width: 300px;
  height: 400px;
  margin: auto;
  border: 2px darkgrey solid ;
  text-align: center;
  border-radius: 5%;
}

mat-card img {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px ;
}

mat-form-field{
  display: block;
}


mat-card button {
  width: 120px;
  margin: .5em;
  border: 1px ;
  height: 50px;
}

mat-card-actions{
  text-align: center;
}

