<div class="boleta" [class]="boleta?.estado">
<div class="mesa">
  <div class="celda-vacia">
    <button mat-icon-button class="mat-icons-outlined" matTooltip="Mesa" aria-label="Mesa" >
      <mat-icon>table_restaurant</mat-icon> <span class="nro-mesa"> :{{boleta?.mesa?.numero}}</span>
    </button>
  </div>
  <div class="celda-jugador">
      <img src={{foto(getPareja(0)?.jugador1?.foto)}} alt="" class="foto-jugador">
      <div class="datos-jugador">{{getPareja(0)?.jugador1?.alias}}</div>
      <div class="datos-pareja">Pareja 1</div>
  </div>
  <div class="celda-vacia"></div>
  <div class="celda-jugador">
      <img src={{foto(getPareja(1)?.jugador1?.foto)}} alt="" class="foto-jugador">
      <div class="datos-jugador">{{getPareja(1)?.jugador1?.alias}}</div>
      <div class="datos-pareja">Pareja 2</div>
  </div>
  <div class="celda-mesa">
    <img src="assets/mesa_cuba.jpg" alt="" class="foto-mesa">
  </div>

  <div class="celda-jugador">
      <img src={{foto(getPareja(1)?.jugador2?.foto)}} alt="" class="foto-jugador">
      <div class="datos-jugador">{{getPareja(1)?.jugador2?.alias}}</div>
      <div class="datos-pareja">Pareja 2</div>
  </div>
  <div class="celda-vacia"></div>
  <div class="celda-jugador">
    <img src={{foto(getPareja(0)?.jugador2?.foto)}} alt="" class="foto-jugador">
    <div class="datos-jugador">{{getPareja(0)?.jugador2?.alias}}</div>
    <div class="datos-pareja">Pareja 1</div>
</div>
  <div class="celda-vacia"></div>
</div>
<div class="datos_boleta">

  <table>
    <!-- <caption>Statement Summary</caption> -->
    <thead>
      <tr>
        <th scope="col">Datos</th>
        <th scope="col">Pareja1</th>
        <th scope="col">Pareja2</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Datos">Datas</td>
        <td data-label="Pareja1">{{getCantDatasGanadas(getBoletaPareja(0)?.id)}}</td>
        <td data-label="Pareja2">{{getCantDatasGanadas(getBoletaPareja(1)?.id)}}</td>
        <td data-label="Total">{{SumaDatasGanadas()}}</td>
      </tr>
      <tr>
        <td data-label="Datos">Puntos</td>
        <td data-label="Pareja1">{{getTotalPuntos(getBoletaPareja(0)?.id)}}</td>
        <td data-label="Pareja2">{{getTotalPuntos(getBoletaPareja(1)?.id)}}</td>
        <td data-label="Total">{{SumaTotalPuntos()}}</td>
      </tr>
      <tr>
        <td data-label="Datos">Tiempo</td>
        <td data-label="Pareja1">{{getDuracionDatas(getBoletaPareja(0)?.id)}}</td>
        <td data-label="Pareja2">{{getDuracionDatas(getBoletaPareja(1)?.id)}}</td>
        <td data-label="Total">{{SumaDuracionDatas()}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
