<mat-toolbar>
  <span>Estadísticas</span>
  <span class="spacer"></span>
  <button mat-icon-button class="mat-icons-outlined"  matTooltip="Evento" aria-label="Evento" >
        <mat-icon>domain</mat-icon>
  </button>
  <span>|</span>
  <button mat-icon-button class="mat-icons-outlined" matTooltip="Parejas" aria-label="Parejas" >
    <mat-icon>people_outline_white</mat-icon>
  </button>
  <button mat-icon-button class="mat-icons-outlined" matTooltip="Mesas" aria-label="Mesas" >
    <mat-icon>table_restaurant</mat-icon>
  </button>
  <button mat-icon-button class="mat-icons-outlined" matTooltip="Rondas" aria-label="Rondas" >
    <mat-icon>timer</mat-icon>
  </button>
  <span>|</span>
  <button mat-icon-button class="mat-icons-outlined" matTooltip="Jugadores" aria-label="Jugadores" >
    <mat-icon>person_outline</mat-icon>
  </button>
  <button mat-icon-button class="mat-icons-outlined" matTooltip="Arbitros" aria-label="Arbitros" >
    <mat-icon>portrait</mat-icon>
  </button>
</mat-toolbar>
