.frm{
  width: 400px;
  height: 500px;
  margin: auto;
  margin-top: 2em;
  border: 2px darkgrey solid ;
  text-align: center;
  border-radius: 5%;
}


.datos{
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 2em;
}
