mat-card{
  min-width: 300px;
  max-width: 350px;
  width: 80%;
  height: 450px;
  min-height: 400px;
  margin: auto;
  border: 3px darkblue  solid ;
  text-align: center;
  border-radius: 5%;
  margin-top: 1em;
  padding: 1rem;
}
mat-card-header{
  margin: auto;
  display: inline;
}

img {
  width: 150px;
  height: 150px;
  margin: auto;
  padding-top: 20px;
  border-radius: 50%;
}

mat-form-field{
  display: block;
}

mat-card button {
  margin: 10px;
  width: 50px;
  margin-top: 1em;
  height: 50px;
}

.fecha{
  text-transform: capitalize;
}


.C{
  border: 3px darkblue  solid ;
}

.I{
  border: 3px darkgreen  solid ;
}

.F{
  border: 3px darkred  solid ;
}

