<app-jugador-toolbar></app-jugador-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="comentario">
    <th mat-header-cell *matHeaderCellDef> Comentario </th>
    <td mat-cell *matCellDef="let element"> {{element.comentario}} </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_inicio">
    <th mat-header-cell *matHeaderCellDef> Inicio </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha_inicio}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_cierre">
    <th mat-header-cell *matHeaderCellDef> Fin </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha_cierre}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

