<mat-toolbar>
  <span>Jugadores</span>
  <span class="spacer"></span>
  <button mat-icon-button class="mat-icons-outlined" matTooltip="Nuevo jugador" aria-label="Adicionar jugador"
    (click)="addJugador()">
    <!-- <mat-icon>note_add_white</mat-icon> -->
    <mat-icon>add_to_photos</mat-icon>
  </button>
  <button mat-icon-button class="mat-icons-outlined" (click)="viewJugador()" matTooltip={{view[mostrandoLista()].tooltip}} >
    <mat-icon>{{view[mostrandoLista()].icono}}</mat-icon>
</button>
</mat-toolbar>