<mat-toolbar>
  <span>Jugadores</span>
  <span class="spacer"></span>
  <button mat-icon-button class="mat-icons-outlined" matTooltip="Nuevo jugador" aria-label="Adicionar evento" (click)="addJugador()">
    <!-- <mat-icon>note_add_white</mat-icon> -->
    <mat-icon>add_to_photos</mat-icon>
  </button>
  <button mat-icon-button  class="mat-icons-outlined" matTooltip="Ver como tabla" aria-label="Ver como tabla" (click)="viewList()">
    <mat-icon>view_list_white</mat-icon>
  </button>
  <button mat-icon-button  class="mat-icons-outlined" matTooltip="Ver como tarjetas" aria-label="Ver como tarjetas" (click)="viewCard()">
    <mat-icon>view_module_white</mat-icon>
  </button>
</mat-toolbar>
