<mat-card>
    <mat-card-header>
        <mat-card-title>{{evento?.nombre}}</mat-card-title>
        <mat-card-subtitle>{{evento?.comentario}}</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="assets/ggdd.jpg">
    <mat-card-content>
       Estado: {{estado()}}
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button color="primary" (click)="onClick">Mostrar</button>

    </mat-card-actions>
    <mat-card-footer>
      Desde: {{evento?.fecha_inicio | date}} hasta {{evento?.fecha_cierre| date}}
    </mat-card-footer>
</mat-card>

