<div class="grid">

  <mat-toolbar>
    <span>Eventos</span>
    <span class="spacer"></span>
    <button mat-icon-button class="mat-icons-outlined" aria-label="Adicionar evento" (click)="addEvento()">
      <!-- <mat-icon>note_add_white</mat-icon> -->
      <mat-icon>add_to_photos</mat-icon>
    </button>
    <button mat-icon-button  class="mat-icons-outlined" aria-label="Adicionar ronda" (click)="addRonda()">
      <mat-icon>view_list_white</mat-icon>
    </button>
    <button mat-icon-button  class="mat-icons-outlined" aria-label="Adicionar ronda" (click)="addRonda()">
      <mat-icon>view_module_white</mat-icon>
    </button>
  </mat-toolbar>

  <app-evento [evento]="evento" *ngFor="let evento of listaEventos"></app-evento>
</div>
