<mat-toolbar>
  <span class="toolbarText">Jugador: {{jugadorSeleccionado?.nombre}} ({{jugadorSeleccionado?.alias}})</span>
  <span class="spacer"></span>
  <!-- Botones que se muestran en el estado Creado [hidden]="mostrarEstadoCreado()" update_white, schedule_white, highlight_off_white-->

    <button  mat-icon-button class="mat-icons-outlined" matTooltip="Eliminar jugador" aria-label="Eliminar jugador" (click)="eliminarJugador()">
      <mat-icon>event</mat-icon>
    </button>
    <!-- <button *ngIf="mostrarFinalizar()" mat-icon-button class="mat-icons-outlined" matTooltip="Finalizar evento" aria-label="Finalizar evento" (click)="finalizarEvento()">
      <mat-icon>event_available</mat-icon>
    </button>
    <button *ngIf="mostrarEliminar()" mat-icon-button class="mat-icons-outlined" matTooltip="Eliminar evento" aria-label="Eliminar evento" (click)="eliminarEvento()">
      <mat-icon>event_busy</mat-icon>
    </button> -->
  <span>|</span>

  <!-- Botones que se muestran en el estado Iniciado  [hidden]="mostrarEstadoIniciado()"-->
    <button mat-icon-button class="mat-icons-outlined" matTooltip="Parejas" aria-label="Parejas" (click)="parejas()">
      <mat-icon>people_outline_white</mat-icon>
    </button>
    <button mat-icon-button class="mat-icons-outlined" matTooltip="Mesas" aria-label="Mesas" (click)="mesas()">
      <mat-icon>table_restaurant</mat-icon>
    </button>
    <button mat-icon-button class="mat-icons-outlined" matTooltip="Rondas" aria-label="Rondas" (click)="rondas()">
      <mat-icon>timer</mat-icon>
    </button>
    <!-- <button mat-icon-button class="mat-icons-outlined" matTooltip="Cerrar ronda" aria-label="Cerrar ronda">
      <mat-icon>alarm_on_white</mat-icon>
    </button> -->

    <span>|</span>


  <!-- Botones que se muestran en el estado Finalizado  [hidden]="mostrarEstadoFinalizado()"-->
    <button mat-icon-button class="mat-icons-outlined" matTooltip="Estadísticas"
      aria-label="Estadísticas">
      <mat-icon>equalizer_white</mat-icon>
    </button>
    <button mat-icon-button class="mat-icons-outlined" matTooltip="Premiados" aria-label="Premiados">
      <mat-icon>emoji_events</mat-icon>  <!-- assignment_ind_white -->

    </button>

</mat-toolbar>

