<mat-toolbar class="sombra">
  <mat-select placeholder="Ronda"  [(value)]="ronda_activa" (selectionChange)="changeRonda($event)">
      <mat-option *ngFor="let ronda of rondas" [value]="ronda.id" >{{ronda.comentario}}</mat-option>
  </mat-select>
  <span class="spacer"></span>
  <!-- Botones que se muestran en el estado Iniciado  [hidden]="mostrarEstadoIniciado()"-->
    <button mat-icon-button class="mat-icons-outlined" matTooltip="Nueva ronda" aria-label="Nueva ronda" (click)="nuevaRonda()" >
      <mat-icon>alarm_add_white</mat-icon>
    </button>
    <!-- <button mat-icon-button class="mat-icons-outlined" matTooltip="Cerrar ronda" aria-label="Cerrar ronda">
      <mat-icon>alarm_on</mat-icon>
    </button> -->

    <!-- <button mat-icon-button class="mat-icons-outlined" matTooltip="Cerrar ronda" aria-label="Cerrar ronda">
      <mat-icon>alarm_on_white</mat-icon>
    </button> -->

    <!-- <span>|</span>
    <button mat-icon-button class="mat-icons-outlined" matTooltip="Mesas" aria-label="Mesas">
      <mat-icon>table_restaurant</mat-icon>
    </button> -->
</mat-toolbar>
